.button  {
    background-color:#ff0a54;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin:  5px 3.5px;
    display: inline-block;
   transition-duration: 4s;
   cursor: pointer;
}

.button1 {
    background-color:#ff0a54;
    color:black;
    border: 2px solid black;
}

.button1:hover {
    background-color: white;
    color: #ff7096;
box-shadow: 0 5px 10px 0 #e5e6e4;
}

